
body{
font-family: Arial;
background:#0f172a;
color:white;
margin:40px;
}

header{
text-align:center;
margin-bottom:40px;
}

input,select,button{
padding:8px;
margin:5px;
}

button{
cursor:pointer;
}

pre{
background:#1e293b;
padding:10px;
border-radius:6px;
}
